//размер шрифта (мобильный)
$mobile-size: 10px

//начало адаптации с десктопоно на мобильный шрифт
$mobile-viewport-width: 320px

//максималльный и минимальный размер шрифта (десктоп)
$minimum-size: 10px
$maximum-size: 16px

//максималльный и минимальный размер экрана для адаптации текста (десктоп)
$minimum-viewport-width: 1980px
$maximum-viewport-width: 2560px
