//fonts

$fontFamily: 'Roboto', sans-serif
$fontGilroy: 'Gilroy-SemiBold', sans-serif

//colors
$colorMain: #405A9F

$mq-breakpoints: (mobile: 376px, mobileLandscape: 480px, tablet: 769px, desktop: 1024px, widescreen: 1250px, large: 1441px, hd: 1921px)

$mq-media-type: screen

// Show active breakpoint in top right corner of viewport
$mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, widescreen, large, hd)
